h1 {
    color: white;
    background: black;
    text-align: center;
    font-family: BankGothic Md BT;
}
header,section{
    text-align:center;
}
footer{
    color:white;
    background:black;
    text-align:center;
}